{[{template "base.gohtml" .}]}

{[{define "title"}]}{[{end}]}

{[{define  "css"}]}
{[{end}]}

{[{define  "script"}]}

{[{end}]}

{[{define "content"}]}
    <div style="line-height: 25px;" class="pa10 flex_colu">
    运行出错：{[{.msg}]}
    </div>
{[{end}]}